#map-canvas { 
height: 400px;
width: 600px;
}

#map-canvas img {
	max-width: none !important;
}

#map-canvas label { 
  width: auto; display:inline; 
}

div #divStation {
 padding:10px;
 border-width:1px;
 border-style:solid;
 border-radius: 10px;
}

strong.redClass {
color:red;	
}

.majPrix {
font-size: 0.8em;
font-style: italic;
}